body{
	font-size: 12px;
	font-family: Arial;
	color:#727272;
	line-height: 2em;
	}
a:link{text-decoration: none;}
a:visited{color: #727272;}
a:hover{text-decoration:underline;}
a{
	color: white;
}
a:hover{color: #b9f605}